/* Estilos Generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f7f7f7;
    color: #333;
    overflow: hidden;  /* Para evitar el scroll */
}

/* Contenedor común */
.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos de la barra de navegación */
.tabs {
    background-color: #6b8a5d;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.tabs ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.tabs li {
    margin: 0 15px;
    padding: 10px 20px;
    cursor: pointer;
    display: inline-block;
}

.tabs .tab:hover {
    background-color: #5a6e4a;
}

.tabs .active {
    background-color: #5a6e4a;
}

/* Estilos de contenido de las pestañas */
.tab-content {
    padding: 20px;
    display: block;
}

.tab-pane {
    display: none;
    padding: 20px;
}

.tab-pane img {
    max-width: 150px;
    border-radius: 50%;
}

footer {
    background-color: #6b8a5d;
    color: white;
    padding: 20px 0;
    text-align: center;
}

/* Estilos cuando una pestaña está activa */
.tab-pane.active {
    display: block;
}
