/* Estilos Generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
}

body {
    background: #fff;
    color: #111;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Navegación */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #000;
    padding: 10px 0;
}

.nav {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.nav ul {
    display: flex;
    gap: 36px;
    list-style: none;
}

.nav label {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

/* Pestañas y Secciones */
input[type="radio"] {
    display: none;
}

section {
    display: none;
    padding: 40px 0;
}

input:checked + section {
    display: block;
}

#home, #about, #cv, #portfolio, #contact {
    padding: 40px;
    text-align: center;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

/* Diseño de imagen */
.profile-image {
    width: 200px;
    border-radius: 50%;
}

/* Portfolio */
.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.case {
    padding: 20px;
    background: #e0e0e0;
    text-align: center;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.case:hover {
    transform: scale(1.05);
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #000;
    color: white;
}
