/* Estilos Generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f7f7f7;
    color: #333;
}

/* Contenedor de las pestañas */
.tabs {
    display: flex;
    justify-content: center;
    background-color: #6b8a5d;
    padding: 10px 0;
}

.tabs input[type="radio"] {
    display: none;
}

.tabs label {
    background-color: #8f9e6d;
    color: white;
    padding: 10px 20px;
    margin: 0 15px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}

.tabs input[type="radio"]:checked + label {
    background-color: #5a6e4a;
}

/* Estilos de contenido de las pestañas */
.tab-content {
    display: block;
    padding: 20px;
}

.tab-pane {
    display: none;
    padding: 20px;
}

.tabs input[type="radio"]:checked ~ .tab-content #inicio {
    display: block;
}

.tabs input[type="radio"]:checked ~ .tab-content #sobre-mi {
    display: block;
}

.tabs input[type="radio"]:checked ~ .tab-content #curriculum {
    display: block;
}

.tabs input[type="radio"]:checked ~ .tab-content #portfolio {
    display: block;
}

.tabs input[type="radio"]:checked ~ .tab-content #contacto {
    display: block;
}

/* Estilo para la imagen de perfil */
.perfil {
    max-width: 150px;
    border-radius: 50%;
}

/* Estilos de pie de página */
footer {
    background-color: #6b8a5d;
    color: white;
    padding: 20px 0;
    text-align: center;
}
